<div>
    <div ng-if="!loading && error" class="alert alert-danger">
        <h4 class="text-center">Oops... Something bad happened, please try later :(</h4>
    </div>

    <div ng-if="feeds.length == 0" class="alert alert-info">
        <h4 class="text-center">Nothing to show here... <br/> Please try later...</h4>
    </div>

    <ul class="media-list">
        <li feeds ng-repeat="feed in feeds | orderBy: '-publishedDate'" class="media">
            <div class="media-body">
                <h4 class="media-heading"><a target="_new" href="{{feed.link}}" ng-bind-html="feed.title"></a></h4>
                <p ng-bind-html="!summary ? feed.content : feed.contentSnippet"></p>
            </div>
            <hr ng-if="!$last"/>
        </li>
    </ul>
</div>