<div class="container">
    <div class="page-header">
        <h3>Feed Directive</h3>
    </div>


    <div class="row">
        <div class="col-sm-12">
            <p>At the very basic, you just need <code ng-non-bindable>&lt;feed/&gt;</code> directive for displaying the feed content.
                The only <i>required</i> attribute is the <em>url</em>.<br/>
                Please note that url should be publicly accessible.
            </p>
            <p>
                Most of the <i>heavy-weight</i> lifting is done through <a target="_new"
                                                                           href="https://developers.google.com/feed/">Google
                    Feeds</a> and all the complexities are completely abstracted to the end user.
            </p>
            <h4>
                Attributes</h4>
            <table class="table table-bordered table-striped">
                <thead>
                <tr>
                    <th>
                        Name
                    </th>
                    <th>
                        Required
                    </th>
                    <th>
                        Default value
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>
                        url
                    </td>
                    <td>
                        true
                    </td>
                    <td>
                        Note that it should be a publicly accessible url
                    </td>
                </tr>
                <tr>
                    <td>
                        summary<br/>
                    </td>
                    <td>
                        false
                    </td>
                    <td>
                        <em>false</em><br/>By default, the template displays the full feed content. If this is set to
                        `true`, it will display only the short summary.
                    </td>
                </tr>
                <tr>
                    <td>
                        count<br/>
                    </td>
                    <td>
                        false
                    </td>
                    <td>
                        None. Specify the no. of items to display
                    </td>
                </tr>
                <tr>
                    <td>
                        template-url
                    </td>
                    <td>
                        false
                    </td>
                    <td>
                        Specify the template url for displaying feed content
                    </td>
                </tr>
                <tr>
                    <td>
                        post-render
                    </td>
                    <td>
                        false
                    </td>
                    <td>
                        Javascript function that will be called after rendering the feed.
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>
