<div class="page-header">
    <h2>Examples</h2>
</div>

<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Stack Overflow <i>AngularJS</i> Questions</h3>
            </div>
            <div class="panel-body">
                <feed src="http://stackoverflow.com/feeds/tag?tagnames=angularjs&sort=newest"/>
                <div class="spinner">
                    <div class="bar1"></div>
                    <div class="bar2"></div>
                    <div class="bar3"></div>
                    <div class="bar4"></div>
                    <div class="bar5"></div>
                    <div class="bar6"></div>
                    <div class="bar7"></div>
                    <div class="bar8"></div>
                </div>
            </div>
        </div>
    </div>
</div>