<div class="container">
    <div class="page-header">
        <h3>Where is this module used?</h3>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <p>Following is the list of apps & services where this module is used currently. If you like to add something to the list, please send a <a target="_new" href="https://github.com/siddii/angular-feeds/pulls">Pull Request</a> updating this <a target="_new" href="https://github.com/siddii/angular-feeds/blob/master/app/templates/used-where.html">file</a>.</p>

            <h4 class="underline">Android Apps</h4>
            <ul>
                <li><a target="_new" href="https://play.google.com/store/apps/details?id=com.boxysystems.dzonereader&hl=en">DZone Reader</a></li>
                <li><a target="_new" href="https://play.google.com/store/apps/details?id=com.boxysystems.newstabs&hl=en">Newsreader</a></li>
            </ul>

            <h4 class="underline">iOS Apps</h4>
            <ul>
                <li><a target="_new" href="https://itunes.apple.com/us/app/dzone-reader/id500542671?mt=8">DZone Reader</a></li>
            </ul>

            <h4 class="underline">Chrome Extensions</h4>
            <ul>
                <li><a target="_new" href="https://chrome.google.com/webstore/detail/wikipedia/imilikhegdfjlcbgakjieeecgdnomiel">Wikipedia</a></li>
            </ul>
        </div>
    </div>
</div>
