<div id="wikipedia-featured-articles" class="carousel slide" data-ride="carousel" data-interval="false">
    <ol class="carousel-indicators">
        <li data-target="#wikipedia-featured-articles" data-slide-to="0" class="active"></li>
        <li data-target="#wikipedia-featured-articles" data-slide-to="1"></li>
        <li data-target="#wikipedia-featured-articles" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div ng-repeat="feed in feeds" class="item" ng-class="{active: $index==0}">
            <h4 class="text-center"><a target="_new" href="{{feed.link}}" ng-bind-html="feed.title"></a></h4>
            <p ng-bind-html="!summary ? feed.content : feed.contentSnippet"></p>
        </div>
    </div>

    <a class="left carousel-control" href="#wikipedia-featured-articles" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="right carousel-control" href="#wikipedia-featured-articles" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
</div>